//Colors
//$color-font-primary:;
$color-font-light: #fff;
$color-light-300: rgba(26, 89, 156, 0.38);
$color-bg-blue: #1a599c;
$color-dark-100: #333;
$color-dark-200: rgba(17, 17, 17, 0.6);
$color-dark-300: rgba(0, 0, 0, 0.4);
$color-dark-400: rgba(136, 136, 136, 0.4);
$color-dark-500: #111;
$color-dark-600: rgba(135, 135, 135, 0.4);
$color-dark-700: #000;
