*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4.8rem 1fr;
      grid-template-rows: 4.8rem 1fr;
}

main {
  display: -ms-grid;
  display: grid;
  /*grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);*/
  grid: 'video-thumbnail' -webkit-max-content 'video-details' -webkit-max-content 'related-details' -webkit-max-content 'video-comments' -webkit-max-content / 1fr;
  grid: 'video-thumbnail' max-content 'video-details' max-content 'related-details' max-content 'video-comments' max-content / 1fr;
}

.header__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem 1fr 1.75rem 1.75rem;
      grid-template-columns: 2rem 1fr 1.75rem 1.75rem;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.8em;
  background: #1a599c;
  color: #fff;
}

.header__link {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
}

#search-videos__icon,
#settings__icon {
  padding-left: 0.4em;
  width: 2.8rem;
}

/*Sections*/
#video-thumbnail {
  grid-area: video-thumbnail;
}

/*video-details*/
#video-details {
  grid-area: video-details;
  padding-top: 1.2em;
}

.details-header {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.details-header__title {
  font-size: 1.8rem;
  line-height: 2.25rem;
  margin-bottom: 0.3em;
  font-weight: normal;
}

.details-header__count {
  font-size: 1.2rem;
  color: rgba(17, 17, 17, 0.6);
}

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2em 1.2em;
}

.social__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 0.7em;
  justify-items: center;
  font-size: 1.2rem;
}

.social__item--active {
  color: #1a599c;
}

.social__img {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.social__title {
  color: rgba(17, 17, 17, 0.6);
}

.channel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 11.4rem;
      grid-template-columns: 1fr 11.4rem;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2em 1.2em;
  border-top: 1px solid rgba(136, 136, 136, 0.4);
  border-bottom: 1px solid rgba(136, 136, 136, 0.4);
}

.channel__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2em;
}

.channel__link--img {
  width: 3.5rem;
  height: 3.4rem;
}

.channel__metadata {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.channel__metadata--title {
  color: #333;
}

.channel__metadata--subscriber {
  color: rgba(17, 17, 17, 0.6);
  font-size: 1.2rem;
}

.channel__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  margin-left: 0.8em;
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.4rem;
  color: #1a599c;
  text-transform: uppercase;
}

.channel__btn--img {
  height: 1.6rem;
}

.channel__btn--span {
  font-weight: bold;
}

/*related-videos*/
#related-videos {
  grid-area: related-details;
  padding-bottom: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.video {
  padding: 1.6em 0;
  font-size: 1.4rem;
  padding: 1.2em 1.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (max-content)[2];
      grid-template-columns: 1fr repeat(2, -webkit-max-content);
      grid-template-columns: 1fr repeat(2, max-content);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: .8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__autoplay {
  -ms-grid-column-align: end;
      justify-self: end;
}

.video__button {
  width: 3.7rem;
  height: 1.4rem;
  border: none;
  outline: none;
  background: transparent;
  position: relative;
}

.video__button--slider {
  display: block;
  width: 3.7rem;
  height: 1.4rem;
  border: 7px solid rgba(26, 89, 156, 0.38);
  border-radius: 7px;
}

.video__button--toggle {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -3px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

/*video-comments*/
#video-comments {
  grid-area: video-comments;
}
/*# sourceMappingURL=styles.css.map */