@import 'base';
@import 'variables';
@import 'layout';
@import 'mixins';
@import 'components';

.header__title {
    color: $color-font-light;
    font-size: 1.5rem;
    font-weight: normal;
    
}

.header {
    display: grid;
    grid-template-columns: 2rem 1fr 1.75rem 1.75rem;
    grid-template-rows: 1fr;
    grid-column-gap: 1.2em; 
    align-items: center;
    padding: 0 0.8em;
    background: $color-bg-blue;
    color: $color-font-light;
    
}

.header__link{
    width: 2rem;
    height: 2rem;
    text-decoration: none;
}

#search-videos__icon,
#settings__icon {
    padding-left: 0.4em;
    width: 2.8rem;
}


/*Sections*/

#video-thumbnail {
    grid-area: video-thumbnail;
}


/*video-details*/

#video-details {
    grid-area: video-details;
    padding-top: 1.2em; 
    
}



.details-header {
    padding-left: 1.2em;
    padding-right: 1.2em;
    &__title {
        font-size: 1.8rem;
        line-height: 2.25rem;
        margin-bottom: 0.3em;
        font-weight: normal;
    }
    &__count {
        font-size: 1.2rem;
        color: $color-dark-200;
    }
}

.social {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    padding: 1.2em 1.2em;

    &__item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0.7em;
        justify-items: center;
        font-size: 1.2rem;
        
        &--active {
            color: $color-bg-blue;
        }
    }

    &__img {
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
    }
    &__title {
        color: $color-dark-200;
        
    }
}

.channel {
    display: grid;
    grid-template-columns: 1fr 11.4rem;
    grid-template-rows: 1fr;
    gap: 0.8rem;
    align-items: center;
    padding: 1.2em 1.2em;
    border-top: 1px solid rgba(136, 136, 136, 0.4);
    border-bottom: 1px solid rgba(136, 136, 136, 0.4);
    &__link {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 1.2em;
        &--img {
            width: 3.5rem;
            height: 3.4rem;
        }
    }
    &__metadata {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        &--title {
            color: $color-dark-100;
        }
        &--subscriber {
            color: $color-dark-200;
            font-size: 1.2rem;
    
        }
    }
    
    &__btn {
        display: flex; 
        justify-content: flex-end;
        align-items: center;
        gap: 0.8em;
        margin-left: 0.8em;
        outline: none;
        border: none;
        background: transparent;
        font-size:  1.4rem;
        color: $color-bg-blue;
        text-transform: uppercase;
        &--img {
            height: 1.6rem;
        }
        &--span {
            font-weight: bold;
        }
    }
}

    
/*related-videos*/

#related-videos {
    grid-area: related-details;
}

/*video-comments*/

#video-comments {
    grid-area: video-comments;
}

.video {

    &__next {

    }

    &__autoplay {

    }

    &__button {

        &--slider {

        }
        &--toggle {
            
        }
    }
}