@media (min-width: 550px) {
    #related-videos > ul {
        padding-left: 8px;
        padding-right: 8px;
    }

    #related-videos > ul > li article {
        min-height: inherit;
        max-height: inherit;
    }

    #related-videos > ul > li img {
        height: 26.6vw;
        min-height: 141px;
        max-height: 202px;
    }

    .related-video-details h4 {
        padding-top: 4px;
    }
}